* {
  padding: 0;
  margin: 0;
  font-family: "Gordita ";
}

.container {
  width: 1260px;
  margin: auto;
}

.main_cont {
  margin: auto;
  width: 1510px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Gordita ";
  src: url("../fonts/Gordita-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: bolder;
}
a:active, a:focus {
  outline: none;
}

input, textarea {
  outline: none;
}

input:active, textarea:active {
  outline: none;
}

:focus {
  outline: none;
}

textarea {
  resize: none;
}

textarea {
  resize: vertical;
}

textarea {
  resize: horizontal;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  width: 100%;
  margin-bottom: 32px;
}

.header_left_list {
  display: flex;
}

.header_left_list-item {
  margin-right: 25px;
}

.header_left_list-item_text {
  color: #303948;
}

.header_left_list-item:last-child {
  margin-right: 0;
}

.header_right-square {
  width: 50px;
  height: 50px;
  background-color: #FCA311;
}

.header_right-circle {
  position: relative;
  top: 15px;
  left: 25px;
  width: 50px;
  height: 25px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: #14213D;
}

.hero {
  height: 707px;
  width: 100%;
  border-radius: 35px;
  background-image: url(../img/businessman.png), url(../img/hero_bg_main.png);
  background-position: bottom 0% right -8%, right;
  background-repeat: no-repeat, no-repeat;
  background-size: 55%, 120%;
  display: flex;
  align-items: center;
}

.hero_cont {
  margin-left: 77px;
}

.hero_cont_headline {
  color: white;
  margin-bottom: 40px;
  font-size: 50px;
}

.hero_cont_text {
  color: white;
  margin-bottom: 40px;
  font-style: "regular";
}

.hero_cont_button {
  cursor: pointer;
  background-color: white;
  width: 264px;
  height: 67px;
  border-radius: 35px;
  border: 0px;
}

.hero_cont_button-link {
  color: #303948;
  font-size: 22px;
}

.experienced {
  width: 1039px;
  height: 326px;
  background-color: #14213D;
  border-radius: 40px;
  margin: auto;
  margin-top: -100px;
  margin-bottom: 90px;
  background-image: url(../img/vector_experienced.svg);
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.experienced_cont {
  padding-left: 42px;
  padding-top: 105px;
}

.experienced_headline {
  font-size: 36px;
  color: white;
  margin-bottom: 40px;
}

.experienced_text {
  color: white;
  margin-bottom: 20px;
}

.experienced_cont_arrow {
  width: 920px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 60px;
}

.experienced_arrow {
  cursor: pointer;
  width: 48px;
  height: 48px;
  background-image: url(../img/Arrow.png);
  background-repeat: no-repeat;
  margin-top: -24px;
}

.client {
  width: 1260px;
  height: 353px;
  margin-bottom: 10px;
}

.client_headline {
  padding-top: 78px;
  padding-bottom: 40px;
  text-align: center;
  margin: auto;
  font-size: 36px;
  color: #303948;
}

.client_text {
  text-align: center;
  margin-bottom: 70px;
  color: #303948;
}

.client_company_list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client_company_list-item {
  margin-right: 28px;
}

.microsoft {
  width: 190px;
  height: 51px;
  background-image: url(../img/mircrosoft.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.google {
  width: 150px;
  height: 51px;
  background-image: url(../img/google.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.amazon {
  margin-right: 0px;
  margin-bottom: -19px;
  width: 150px;
  height: 51px;
  background-image: url(../img/amazon.png);
  background-repeat: no-repeat;
  background-position: center;
}

.services {
  width: 1260px;
  height: 905px;
  display: flex;
}

.services_left {
  margin-right: 90px;
  margin-top: 115px;
}

.services_left_graybox {
  height: 740px;
  width: 520px;
  background-color: #E5E5E5;
  border-radius: 30px;
}

.services_left_graybox-pic {
  position: relative;
  right: 30px;
  top: -45px;
  height: 740px;
  width: 520px;
  background-image: url(../img/services_left_graybox-pic.png);
  border-radius: 30px;
}

.services_left_graybox-pic_circle {
  position: relative;
  top: 295px;
  right: 75px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #FCA311;
}

.services_left_graybox-pic_dots {
  position: relative;
  top: -200px;
  left: 412px;
  width: 190px;
  height: 190px;
  background-image: url(../img/dot_grid.svg);
  background-repeat: no-repeat;
}

.services_right {
  margin-top: 80px;
}

.services_right_top {
  margin-bottom: 90px;
}

.services_right_top_underheadline {
  color: #303948;
  margin-bottom: 25px;
}

.services_right_top_headline {
  color: #14213D;
  font-size: 36px;
  margin-bottom: 20px;
}

.services_right_top_text {
  color: #59616D;
}

.services_right_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.services_right_list-item {
  width: 245px;
  height: 155px;
  margin-bottom: 100px;
  margin-right: 90px;
}

.services_right_list_2n-child {
  margin-right: 0px;
}

.services_right_list_4n-child {
  margin-right: 0px;
}

.services_right_list-item_top {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}

.services_right_list-item_logo {
  margin-right: 20px;
  width: 55px;
  height: 55px;
}

.apps-logo {
  background-image: url(../img/apps-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.design_services-logo {
  background-image: url(../img/design_services-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.seo-logo {
  background-image: url(../img/seo-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tester-logo {
  background-image: url(../img/tester-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.services_right_list-item_headline {
  color: #303948;
}

.services_right_list-item_buttom {
  color: #59616D;
}

.process {
  width: 1245px;
  height: 786px;
  display: flex;
}

.process_left {
  width: 1000px;
  margin-top: 195px;
  margin-right: 155px;
}

.process_left_headline {
  font-size: 36px;
  color: #303948;
  margin-bottom: 65px;
}

.process_left_text {
  color: #59616D;
  margin-bottom: 65px;
}

.process_left_button {
  width: 260px;
  height: 65px;
  background-color: #14213D;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.process_left_button-link {
  color: white;
  font-size: 22px;
  text-align: center;
}

.process_right {
  margin-top: 105px;
}

.process_right_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.process_right_list-item {
  width: 250px;
  height: 260px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 40px;
}

.process_one {
  background-image: url(../img/process_one.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.process_two {
  background-image: url(../img/process_two.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 0px;
}

.process_three {
  background-image: url(../img/process_three.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.process_four {
  background-image: url(../img/process_four.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 0px;
}

.process_right_list-item_circle {
  position: relative;
  top: -40px;
  left: 190px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(252, 163, 17, 0.5);
  backdrop-filter: blur(5px);
}

.process_right_list-item_half-circle {
  position: relative;
  right: 65px;
  top: 55px;
  width: 100px;
  height: 50px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background: rgba(20, 33, 61, 0.5);
}

.process_right_list-item_dots {
  z-index: -1;
  position: relative;
  left: 107px;
  top: 145px;
  width: 190px;
  height: 190px;
  border-top-right-radius: 38px;
  border-bottom-left-radius: 45px;
  background-image: url(../img/process_right_list-item_dots.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95%;
}

.portfolio {
  width: 1260px;
  height: 874px;
}

.portfolio_top {
  margin-top: 60px;
  margin-bottom: 100px;
  display: flex;
  align-content: space-between;
}

.portfolio_top_left {
  margin-left: 35px;
  margin-right: 380px;
}

.portfolio_top_left_under-headline {
  color: #303948;
  margin-bottom: 25px;
}

.portfolio_top_left_headline {
  color: #14213D;
  font-size: 36px;
  margin-bottom: 30px;
}

.portfolio_top_left_text {
  color: #59616D;
}

.portfolio_top_right {
  display: flex;
  align-items: center;
}

.portfolio_top_right_arrow_back {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 35px;
  background-color: rgba(20, 33, 61, 0.5);
  margin-right: 40px;
  background-image: url(../img/portfolio_top_right_arrow_back.png);
  background-repeat: no-repeat;
  background-position: center;
}

.portfolio_top_right_arrow_forward {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 35px;
  background-color: #14213D;
  background-image: url(../img/portfolio_top_right_arrow_forward.png);
  background-repeat: no-repeat;
  background-position: center;
}

.portfolio_buttom_list {
  display: flex;
  justify-content: space-around;
}

.portfolio_buttom_list-item_pic {
  width: 300px;
  height: 300px;
  border-radius: 40px;
  margin-bottom: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio_gouache {
  background-image: url(../img/portfolio_gouache.png);
}

.portfolio_aquarelle {
  background-image: url(../img/portfolio_aquarelle.png);
}

.portfolio_fire {
  background-image: url(../img/portfolio_fire.png);
}

.portfolio_buttom_list-item_headline, .portfolio_buttom_list-item_text, .portfolio_buttom_list-item_button {
  text-align: center;
}

.portfolio_buttom_list-item_headline {
  font-size: 36px;
  color: #14213D;
  margin-bottom: 30px;
}

.portfolio_buttom_list-item_text {
  color: #59616D;
  margin-bottom: 45px;
}

.portfolio_buttom_list-item_button {
  cursor: pointer;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 65px;
  background-color: #14213D;
  color: white;
  font-size: 22px;
  border-radius: 30px;
  border: 0px;
}

.testimonials {
  width: 1260px;
  height: 864px;
  display: flex;
}

.testimonials_left {
  margin-top: 165px;
  margin-right: 135px;
}

.testimonials_left-pic {
  width: 400px;
  height: 620px;
  border-radius: 20px;
  background-image: url(../img/testimonials_left-pic.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.testimonials_left-pic_circle {
  position: relative;
  left: 360px;
  top: 435px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(252, 163, 17, 0.5);
  backdrop-filter: blur(5px);
}

.testimonials_left-pic_square {
  z-index: -1;
  position: relative;
  top: 35px;
  right: 50px;
  width: 100px;
  height: 100px;
  background-color: rgba(252, 163, 17, 0.5);
}

.testimonials_left-pic_dots_small {
  position: relative;
  bottom: 406px;
  left: 339px;
  width: 100px;
  height: 100px;
  background-image: url(../img/testimonials_left-pic_dots_small.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.testimonials_left-pic_dots_big {
  z-index: -1;
  bottom: 262px;
  left: 294px;
  position: relative;
  width: 200px;
  height: 200px;
  background-image: url(../img/testimonials_left-pic_dots_big.svg);
}

.testimonials_right {
  margin-top: 295px;
}

.testimonials_right_top_headline {
  color: #14213D;
  font-size: 36px;
  margin-bottom: 40px;
}

.testimonials_right_top_text {
  font-size: 24px;
  color: #59616D;
  margin-bottom: 145px;
}

.testimonials_right_top_text_name {
  font-size: 26px;
}

.testimonials_right_buttom_arrow {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 35px;
  background-color: #14213D;
  background-repeat: no-repeat;
  background-position: center;
}

.testimonials_right_buttom {
  display: flex;
  justify-content: flex-end;
}

.back_arrow_testimonials {
  margin-right: 40px;
  background-image: url(../img/back_arrow_testimonials.png);
}

.forward_arrow_testimonials {
  background-image: url(../img/portfolio_top_right_arrow_forward.png);
  background-repeat: no-repeat;
  background-position: center;
}

.footer {
  width: 1260px;
  height: 581px;
}

.footer_main {
  width: 1236px;
  height: 491px;
  background-image: url(../img/hero_bg_main.png);
  background-position: top -100px left;
  background-repeat: no-repeat;
  background-size: 200%;
  border-radius: 30px;
  overflow: hidden;
}

.footer_main_top {
  display: flex;
  justify-content: space-between;
}

.footer_main_left {
  margin-left: 25px;
  margin-top: 75px;
}

.footer_main_left_square {
  width: 50px;
  height: 50px;
  background-color: white;
  margin-bottom: 40px;
}

.footer_main_left_half-circle {
  position: relative;
  top: 15px;
  left: 25px;
  width: 50px;
  height: 25px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: #14213D;
}

.footer_main_left_slogan, .footer_main_left_contacts {
  color: #14213D;
}

.footer_main_left_slogan {
  margin-bottom: 30px;
}

.footer_main_right {
  margin-top: 85px;
  display: flex;
}

.footer_main_right_top_list_company {
  margin-right: 55px;
}

.footer_main_right_top_list_company-item {
  color: #14213D;
  font-size: 20px;
  margin-bottom: 25px;
}

.footer_main_right_top_list_company-item_link {
  color: #14213D;
  font-size: 18px;
}

.list_company_headline {
  margin-bottom: 20px;
}

.footer_main_right_top_list_media {
  margin-right: 65px;
}

.footer_main_right_top_list_media-item {
  margin-bottom: 35px;
  margin-right: 30px;
  color: #14213D;
}

.list_media_headline {
  font-size: 20px;
  margin-bottom: 25px;
}

.footer_main_right_top_list_media-item_link {
  color: #14213D;
  font-size: 18px;
}

.footer_main_right_top_square {
  position: relative;
  right: 35px;
  bottom: 18px;
  width: 80px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.footer_main_right_top_dots_circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url(../img/footer_main_right_top_dots_circle.svg);
  background-repeat: no-repeat;
}

.footer_main_buttom {
  display: flex;
  justify-content: space-between;
}

.footer_main_buttom_copyright {
  margin-top: 75px;
  margin-left: 20px;
  color: #14213D;
}

.footer_main_buttom_square {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  background-color: #14213D;
  margin-right: 165px;
  margin-top: 30px;
}

.footer_main_buttom_border_square {
  position: relative;
  top: -45px;
  left: 45px;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 20px;
}

.footer_decorative_dots_square {
  position: relative;
  right: 40px;
  top: -190px;
  width: 80px;
  height: 80px;
  background-image: url(../img/footer_decorative_dots_square.svg);
  background-repeat: no-repeat;
}

/*# sourceMappingURL=main.css.map */
